.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex-v {
  display: flex;
  flex-direction: column;
}

.gap10 {
  gap: 10px;
}

.gap5 {
  gap: 5px;
}

.maxw400 {
  max-width: 400px;
}

.j-center {
  justify-self: center;
}

.a-center {
  align-self: center;
}

.m-auto {
  margin: auto;
}
